@CHARSET "UTF-8";
body,ul,ol,li,form{margin:0;padding:0;-webkit-text-size-adjust:none}
ul,ol{list-style:none}
img{border:0}
body{background:#F6F6F6;font-family:YaHei,Helvetica,Tahoma,sans-serif;font-size:14px;line-height:1.5;color:#333;position:relative;}
div,p,a,table,td,textarea,form,input,img,ul,li,dl,dt,dd,h1,h2,h3,h4{margin:0;padding:0;font-size:100%;font-weight:normal;-webkit-tap-highlight-color:transparent}
a{color:#333;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a:hover,a.current{outline:0;}
/*header*/
.header_d3 a.arrowleft,.header_d3 a.arrowleft label,.header_d3 a.arrowside,.header_d3 a.arrowside label,.header_d3 a.arrowleft:hover,.header_d3 a.arrowleft:hover label,.header_d3 a.arrowside:hover,.header_d3 a.arrowside:hover label,a.detailside,a.detailside label,a.detailside:hover,a.detailside:hover label{background:url(i/bg_headbtn.png) no-repeat;background-size:100px auto;display:block;}

.header_d3{height:44px;background-color:#FE8107;border-bottom:1px solid #BA6822;box-shadow:0px 0px 4px #BA6822;-moz-box-shadow:0px 0px 4px #BA6822;-webkit-box-shadow:0px 0px 4px #BA6822;}
.header_d3{text-align:center;height:44px;z-index:2;position:relative; overflow:hidden}
.header_d3 h1{font-weight:bold;font-size:20px;color:#fff;text-shadow:0 1px 1px #D05503;line-height:44px;}
.header_d3 a.arrowleft{position:absolute;height:29px;top:7px;left:7px;font-size:14px;color:#FFFDFA;padding-left:15px;font-weight:bold;}
.header_d3 a.arrowleft label{background-position:right 0;}
.header_d3 a.arrowleft:hover{background-position:0 -29px;}
.header_d3 a.arrowleft:hover label{background-position:right -29px;}
.header_d3 a.arrowleft label,.header_d3 a.arrowleft:hover label{height:25px;padding:4px 8px 0 0;}

/*footer*/
.detail-footitem li.goup span,.detail-footitem li.backhome span{background:url(i/detail_new_icon1.png) no-repeat;background-size:66px auto;}
.footer_v3 p.serve{color:#868485;text-align:center;padding:10px 0;}
.footer_v3 p.serve b{color:#484242;}
.detail-footitem{background-color:#EBECE7;height:40px;font-size:0;overflow:hidden;border-top:1px white solid;}
.detail-footitem li{float:left;width:34%;font-size:14px;height:36px;line-height:36px;position:relative;text-align:center;}
.detail-footitem li a{display:block;height:100%;color:#373833;position:relative;}
.detail-footitem li.goup{width:30%;float:right;}
.detail-footitem li.goup a{width:85px;float:right;text-align:right;padding:0 10px;}
.detail-footitem li.goup span{position:absolute;background-position:right -24px;display:block;width:22px;height:22px;top:6px;}
.detail-footitem li.backhome a{width:95px;margin:0 auto;padding:0 10px;}
.detail-footitem li.backhome span{position:absolute;background-position:-30px -29px;display:block;width:15px;height:15px;top:11px;}
.detail-footitem li.myls{color:#FE8107;}
.detail-footitem li.myls a{color:#3E71B9;padding:0 5px;display:inline-block;}

.footer-com,.page{background-color:#DFE0DB;background:-moz-linear-gradient(top,#B7B8B3,#DFE0DB 10%,#DFE0DB 95%);background:-webkit-gradient(linear,0 0,0 100%,from(#B7B8B3),to(#DFE0DB),color-stop(0.1,#DFE0DB));}

.footer-com ul li::after{content:'-';display:block;height:28px;width:2px;background:#B7B3B2;position:absolute;right:0;top:4px;font-size:0;text-indent:-9999px;background:-moz-linear-gradient(top,#D1D2CD,#B7B3B2,#D1D2CD);background:-webkit-gradient(linear,0% 0,0% 100%,from(#D1D2CD),to(#D1D2CD),color-stop(0.5,#B7B3B2));}
.footer-com ul li:last-child::after{display:none;}
.com-footitem{font-size:0;overflow:hidden;padding-top:10px;}
.com-footitem li{display:inline-block;width:32%;font-size:14px;height:36px;line-height:36px;position:relative;text-align:center;}

.footer{padding:10px 0 35px 0;}
footer .copyright{position:relative;text-align:center;width:100%;font-size:12px;color:#999;height:30px;z-index:0;}
footer .copyright span{line-height:23px;background:#DEE0DB;top:0;margin:0 auto;z-index:4;padding:0 6px;}
footer .copyright p{height:1px;width:100%;text-indent:-9999px;font-size:0;position:absolute;top:11px;z-index:1;background:-moz-linear-gradient(left,#DBDCD7,#4F4F4D,#DBDCD7);background:-webkit-gradient(linear,left 0,right 0,from(#DBDCD7),to(#DBDCD7),color-stop(0.5,#4F4F4D));}
