<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">
]>
<beans>
	<!-- 导入事务配置的核心配置文件 -->
	<import
		resource="classpath*:com/web/mvc/spring/spring-hibernate-transation-dao-service.xml" />
<!-- 	<import
		resource="classpath*:com/wap/spring/spring-hibernate-transation-dao-service.xml" /> -->
	<!-- import
		resource="classpath*:com/webservice/spring/spring-webservice-transation-dao-service.xml" /-->
</beans>