<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">
]>
<beans>
	<!-- 配置DAO -->
	<bean id="wapUserDao" class="com.wap.dao.WapUserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 事务配置的核心 -->
	<bean id="wapUserManagerBase" class="com.wap.service.WapUserManager">
		<property name="wapUserDao" ref="wapUserDao" />
	</bean>
	<!-- 继承了事务管理类 -->
	<bean id="wapUserManager" parent="transactionBese">
		<property name="target" ref="wapUserManagerBase"></property>
	</bean>
</beans>